.header{
    background-color: #1F2937;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 64px;
}

body{
    background-color: #4a6283;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.logo{
    margin-top: 10px;
    max-width: 50px;
    max-height: 50px;
    padding: 4px 32px;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

a{
    text-decoration: none;
    color: #597ba1;
    font-size: 24px;
    justify-content: space-evenly;
    max-height: 100%;
    max-width: 100%;
}



.flex-container{
    flex-direction: column;
}

.hero{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero-container{
    margin-left: 500px;
}

.hero-title{
    justify-content: flex-start;
    font-size: 48px;
    color: #F9FAF8;
    padding-bottom: 8px;
}

.hero-text{
    color: #e5e7eb;
    font-size: 24px;
    padding-bottom: 8px;
    flex-wrap: wrap;
    max-width: 1800px;
    max-height: 300px;
}

.placeholder{
    border: solid 4px #3b82f6;
    margin: 50px;
    margin-right: 450px;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.info{
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 16px 16px 16px #3b82f6;
    max-width: 500px;
}

.img-title{
    font-size: 36px;
    padding: 28px;
    display: flex;
    justify-content: center;
}

.portrait{
    border: solid 4px #3b82f6;
    size: 300px 300px auto;
    width: 300px;
    height: 300px;
    border-radius: 20px;    
}

.text{
    justify-content: space-evenly;
    padding-top: 16px;
    font-size: 24px;
    flex-wrap: wrap;
}

.carta{
    margin-top: 36px;
    padding-top: 52px;
    padding-bottom: 16px;
    margin-bottom: 32px;
    font-size: 36px;
}

.carta-title{
    text-align: center;
    font-size: 48px;
    padding-bottom: 16px;
}

.carta-text{
    border-radius: 30px;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 28px;
    flex-wrap: wrap;
    color: #1F2937;
    background: #e4e6ea;
}

.footer{
    color:#e5e7eb;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-top: 24px;
}
